# Git Ignore
#

# Ozelot Vanilla's ignore
/.vscode/
/.settings/
/src/test/
/target/
pom.xml
.classpath
.project
# Ozelot Vanilla's ignore end

# magicalStone's ignore
/.idea/
/out/
Jathon.iml
# magicalStone's ignore end